<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123033805966-32ie9m2baveh8f0me1v09gn0uf127m56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123033805966-32ie9m2baveh8f0me1v09gn0uf127m56</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>123033805966-6bq639r0s264hlou2d8j12gafp6hesp4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBFE3NSVbLC5BycJbik0EW5RsI1QAU8ZE</string>
	<key>GCM_SENDER_ID</key>
	<string>123033805966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.mirl</string>
	<key>PROJECT_ID</key>
	<string>mirlcom</string>
	<key>STORAGE_BUCKET</key>
	<string>mirlcom.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123033805966:ios:413f510839e4d94c3215df</string>
</dict>
</plist>